/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

/* VARIABLES */

:root {
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #022b32;
  --text-color: #232323;
  --border-card-color: #d6d6d6;
}

/* COMMON */

.container-wide {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-short {
  max-width: 1400px;
  width: 100%;
  margin: 100px auto;
  padding: 0 20px;
}

.container-product {
  max-width: 1560px;
  margin: 0 auto;
  padding: 50px 20px;
}

.display-flex {
  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 14px;
  font-size: 36px;
  font-weight: bold;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* HEADER */

.header {
  position: sticky;
  width: 100%;
  padding: 20px 0px;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
  z-index: 100;
}

.navabar__nav {
  margin-left: 55px;
  color: var(--white-color);
  text-transform: uppercase;
}

.navabar__nav > li + li {
  margin-left: 55px;
}

.navabar__nav > li > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.navabar__nav > li > a:hover {
  border-bottom: 1px solid var(--white-color);
}

/* HOME */

.title-home {
  margin-left: 17px;
}

.slick-arrow {
  background: #ffffff;
  border: 1.7px solid #f8f8f8;
  box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}

.slick-arrow::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #757575;
  border-right: 3px solid #757575;
}

.slick-prev {
  left: 0;
  transform: translate(calc(-50% + 17px), -50%);
}

.slick-next {
  right: 0;
  transform: translate(calc(50% - 17px), -50%);
}

.slick-prev::before {
  transform: rotateZ(-135deg);
}

.slick-next::before {
  transform: rotateZ(45deg);
}

.slick-prev:hover {
  background-color: rgba(117, 117, 117, 0.5);
}

.slick-next:hover {
  background-color: rgba(117, 117, 117, 0.5);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

/* CARD */

.card {
  padding: 28px;
  line-height: 1.5;
  border: 1px solid var(--border-card-color);
}

.card__product-type {
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.card__product-title {
  font-weight: 700;
  font-size: 19px;
}

.card__product-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.card__slide {
  margin: 17px;
  height: 645px;
}

.card__slide > .card__product-img {
  height: 440px;
}

.card__showcase {
  width: calc((100% - 120px) / 4);
}

.card__showcase > .card__product-img {
  height: 350px;
}

/*FOOTER*/

.footer {
  width: 100%;
  padding: 27px 20px;
  background-color: var(--bg-color);
  color: var(--white-color);
}

.foooter__text {
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .container-wide {
    max-width: 960px;
  }
  .container-short {
    max-width: 960px;
    margin: 200px auto;
  }

  .card__slide > .card__product-img {
    height: 435px;
  }

  .card__slide {
    height: 600px;
  }

  .container-product {
    width: 960px;
  }
  .card__showcase > .card__product-img {
    height: 250px;
  }
  .card__showcase {
    width: calc((100% - 80px) / 3);
  }
}

@media (max-width: 992px) {
  .container-wide {
    max-width: 400px;
  }

  .card {
    padding: 6px;
  }

  .card__slide > .card__product-img {
    height: 350px;
  }

  .card__slide {
    height: 520px;
  }

  .container-short {
    max-width: 720px;
  }

  .card__showcase {
    width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 768px) {
  .container-wide {
    max-width: 400px;
  }

  .container-short {
    max-width: 600px;
  }

  .container-product {
    max-width: 660px;
  }

  .card__showcase {
    width: calc((100% - 40px) / 2);
  }
}

@media (max-width: 640px) {
  .container-short {
    max-width: 480px;
  }

  .title {
    margin-left: 2px;
  }

  .card__slide {
    margin: 2px;
    height: 450px;
  }

  .card__slide > .card__product-img {
    height: 300px;
  }

  .container-product {
    max-width: 480px;
  }

  .products {
    gap: 20px;
  }

  .card__showcase {
    width: 100%;
    margin-bottom: 20px;
  }

  .navbar {
    flex-direction: column;
  }
  .navbar__logo {
    margin-bottom: 20px;
  }
  .navabar__nav {
    margin-left: 0;
  }
  .card__slide > .card__product-img {
    height: 270px;
  }
}
