/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

/* FONTS*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* VARIABLES */
:root {
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #022b32;
  --text-color: #232323;
  --border-card-color: #d6d6d6;
}

.container-wide {
  width: 1560px;
}

.container-short {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 376px 0 518px;
}

.display-flex {
  display: flex;
  align-items: center;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  padding: 20px 25px;
  top: 0;
  right: 0;
  background-color: var(--bg-color);
}

.navabar__nav {
  margin-left: 55px;
  color: var(--white-color);
  text-transform: uppercase;
}

.navabar__nav > li + li {
  margin-left: 55px;
}

.navabar__nav > li > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.navabar__nav > li > a:hover {
  border-bottom: 1px solid var(--white-color);
}

/* HOME */

.home__title {
  margin-bottom: 14px;
  font-size: 36px;
  font-weight: bold;
}

/* CARD */
.card {
  width: 30%;
  border: 1px solid var(--border-card-color);
}
